#diceBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    width: 70%; 
}
#dice img {
    height: 100px;
    position: relative;  
}

#dice p {
    position: relative;
    z-index: 2;
    bottom: -70px;
}

#dice {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#dice:hover {
    transform: perspective(100px) translateZ(30px) rotateX(360deg);
    transition: 1s ease-in-out ;
    transform-style: preserve-3d;
}

#diceTotal {
    position: relative;
    font-family: liberation-sans;
    font-weight: bold;
    right: -40%;
}

@media(max-width: 400px){
    #diceTotal {
        right: -10%;
    }
}

.input {
    outline: 0;
    color: rgb(128, 128, 128);
    border: 1px rgb(0, 0, 0) groove;
    margin: 1px;
}

body {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.dark {
    background-color: rgb(21, 21, 21);
    color: rgb(255, 0, 0);
}

.dark #rollButton {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#rollButton {
    border: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); 
    height: 30px;
    width: 40px;
    margin-top: 5px;
}
#rollButton:hover {
    transform: scaleX(1.1);
}

#darkMode {
    border: none;
    color: rgb(255, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
}

#darkMode:hover {
    transform: scale(1.1);
}