#diceBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}
#dice img {
    height: 100px;
    display: block;
    position: relative;
    
}
#dice p {
    position: relative;
    z-index: 2;
    bottom: -70px;
}

#dice {
    display: flex;
    align-items: center;
    flex-direction: column;
}